
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

.wrapper{
    overflow-x: hidden;
}


.shadow-bottom{
    box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -moz-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -webkit-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -o-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
}

.lora{
    font-family: 'Lora', serif;
}




/* navigation  */
.brand-holder{
    padding: 2% 0 4% 8%;
}


/* head section */
.beauty-text{
    font-size: 4rem;
}

.beauty-others{
    font-weight: normal;
}

.text-div{
    margin-bottom: 6%;
    padding: 0;
}

.text-up h2{
    font-family: 'Lora', serif;
}

/* count */
.count-box{
    padding: 2%;
    border: 1px solid black;
    margin-right: 4%;
    
}

.count-time{
    margin-right: 6%;
    margin-top: 4%;
}

.count-holder{
    margin-top: 4%;
}

.head-section{
    padding: 0 7%;
}

/* form */
.email-input{
    border: 1px solid black;
    padding: 1.5%;
    margin-right: 3%;
    width: 40%;
}

.notify-btn{
    background-color: black;
    color: white;
    padding: 1.7% 6%;
    border: none;
    width: 40%;
}

.notify-btn:hover{
    background-color: rgb(34, 33, 33);
    
}

.header-img{
    width: 94%;
    
}

.headertext-holder{
    padding: 14% 0 10% 0;
}

/* how it works section */
.row2{
    display: none;
}

.hiw-holder{
    background-image: url("../images/brown-shade.jpg");
    /* height: 550px; */
    position: relative;
    background-size: cover;
    padding-bottom: 6%;
    
}

.features{
    display: flex;
    margin-bottom: 1.5%;
    
}

.sample{
    width: 95%;
    position: absolute;
    top: 19%;
    left: 10%;
    border:none;
}

.expl-holder{
    padding:6% 2% 5% 7%;
}

.video-holder{
    padding: 8% 7%;
    position: relative;
}

.expl-header{
    margin-bottom: 4%;
}

.features-text{
    padding-left: 3%;
}

.stroke{
    position: absolute;
    right: 4%;
    top: 100%;
    width: 50%;
    height: 25%;
}


/* demo section */

.demo-head-holder{
    padding: 2% 0;
}

.details-holder{
    padding: 18% 3% 6% 7%;
}

.demo{
    margin-bottom: 20%;
}


.carousel{
    position: relative;
}

.carousel-icons{
    position: absolute;
    top: 110%;
    background-color: #b17036;
    width: 12%;
}

.left{
    left: 290%;
}

.right{
    right: 290%;
}

.view-btn{
    background-color: black;
    color: white;
    padding: 2% 8%;
    border: none;
    margin-top: 3%;
    width: 40%;
}

.demo-expl{
    padding:0% 2% 0% 7%;
    
}

.design-holder{
    padding-left: 7%;
}





/* footer section */
footer{
    padding-top: 35% !;
    position: relative;
}
.footer-container{
    background-image: url("../images/brown-shade.jpg");
    background-size: cover;
    padding: 15% 7% 5% 7%;
    
}

.footer-notify{
    background-color: white;
    position: absolute;
    left: 12%;
    bottom: 68%;
    padding: 6% 13% ;
    width: 75%;
}

/* .email-footer{
    padding: 2% 5% !important;
}

.footer-notify.notify-btn{
    width: 20%;
} */

.sm-icons{
    color: black;
    font-size: 2rem;
}

.footer-holder{
    padding-top: 6%;
}



/* media queries */

@media  only screen and (max-width:1135px)and (min-width:767px){
    .header-img{
        width: 135% !important;
        
    }
}

@media  only screen and (min-width:768px){
    .hiw-holder{
        margin-bottom: 7%;
    }


}

@media  only screen and (min-width:768px)and (max-width:997px){

    .sample{
        top: 30%;
    }

}

@media  only screen and (min-width:768px)and (max-width:900px){

    .details-holder{
        padding-top: 25%;
    }

}

@media  only screen and (min-width:768px) and (max-width:769px){
    .sample{
        width: 100%;
        height: 450%;
        transform: rotate(0deg) !important;
        top: 19%;
        left: 30%;
    }
}

@media  only screen and (max-width:768px){
    .header-img{
        width: 100%;
        
    }

    .email-input, .notify-btn{
        width: 45%;
    }

    .beauty-text{
        font-size: 3rem;
    }

    .row1{
        display: none;
    }

    .row2{
        display: block;
    }

    .stroke{
        display: none;
    }

    .expl-holder{
        padding:10% 2% 10% 8%;
    }

    .carousel-icons{
        width: 26%;
    }

    .rights-holder{
        text-align: center;
    }

    .footer-container{
        padding-top: 30% !important;
    }

    .demo{
        margin-bottom: 50% !important;
    }

    .footer-cards{
        margin-top: 7%;
    }

    .footer-notify{
        bottom: 75%;
        width: 85%;
        left: 7.5%;
    }


    .expl-header{
        margin-bottom: 7%;
    }

    .details-holder{
        padding-left: 12% !important;
    }

    .video-holder{
        padding-bottom: 12% ;
        text-align: center;
    }

    .hiw-holder{
        padding-bottom: 63%;
    }

    .sample{
        width: 95%;
        height: 450%;
        transform: rotate(30deg);
    }

    .design-holder{
        text-align: center;
    }

    .demo-head-holder{
        padding-top: 12%;
    }
    .demo{
        margin-bottom: 30%;
    }

    .brand-holder{
        padding: 2% 0 4% 9%;
    }
    
}



